{% extends 'base.html.twig' %}

{% block body %}
    <h2>Комментарий проверен, спасибо!</h2>

    <p>Подтвержденное перемещение: <strong>{{ transition }}</strong></p>
    <p>Новое состояние: <strong>{{ comment.state }}</strong></p>
{% endblock %}